*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

.navegacao{
    color: white !important;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

.sticky{
    position: sticky;
    top:0;
    z-index: 1000
}

.divFooter{
    margin-top: 20px;
    background-color: rgb(54,101,70);
    text-align: center;
    color: white;
    padding: 30px;
}
.links{
    margin: 20px 0px 20px 0px;
}
.links>a{
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}


.divButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 0px 0px;
    color: black;
}

.divButton>p{
    margin:0px;
}

.btnLogin{
    background-color: rgb(54, 101, 70);
    color: white;
    padding: 5px 50px 5px 50px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: none;
}

@media(max-width: 800px){
    .links>a{
        font-size: 13px;
    }
}
